html, body {
  height: 100%;
  min-height: 100%;
}

.full, .main {
  height: 100%;
}

.navbar-default {
  padding-right: 15px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-default .navbar-nav > li > a {
  font-size: 12px;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.view-projects {
  padding: 10px;
  border: 4px solid grey;
}

#self-marketing {
  position: relative;
  top: 25%;
  text-align: center;
}

.angle-down-wrapper {
  text-align: center;
}

#goto-second {
  position: absolute;
  bottom: 0;
  font-size: 30px;
}

#sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 10%;
  z-index: 1000;
  background-color: red;
}

.page-title {
  text-align: center;
  color: grey;
}

.left-video {
  height: 100%;
  background-color: white;
}

.left-video#togetherjs {
  background-size: cover;
  background-image: url('/img/togetherjs.jpg');
}

.left-video#edubyme {
  background-size: cover;
  background-image: url('/img/edubyme.png');
}

.left-video#instantmusic {
  background-size: cover;
  background-position: right;
  background-image: url('/img/instantmusic.png');
}

.bigger {
  font-size: 1.2em;
}

.fam-background {
  background-size: cover;
  background-image: url('/img/side-fam.jpg');
}

/*.content-wrapper {
  height: calc(100% - 83px);
}*/

.content-wrapper {
  height: 100%;
}

.col-md-6 {
  height: 100%;
}

.progress {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  background: blue;
}

.nopadding {
  padding: 0 !important;
}

.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

@media(min-width:1200px) {
  #introduction.main {
    height: 100%;
  }

  /*

  .content-wrapper {
    height: calc(100% - 133px);
  }

  .page-title {
    text-align: center;
    height: 100px;
    font-size: 50px !important;
    color: grey;
  }

  .col-md-6 {
    width: 40% !important;
  }

  .col-md-8 {
    width: 60% !important;
  }

  .col-md-4 {
    width: 20% !important;
  } */

}