html, body {
  height: 100%;
  min-height: 100%;
}

.full, .main {
  height: 100%;
}

.navbar-default {
  padding-right: 15px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-default .navbar-nav > li > a {
  font-size: 12px;
}

.wrapper {
  width: 100%;
  text-align: center;
}

.view-projects {
  position: relative;
  top: 50px;
  padding: 10px;
  border: 4px solid grey;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

#self-marketing {
  position: relative;
  top: 25%;
  text-align: center;
}

.angle-down-wrapper {
  text-align: center;
}

#goto-second {
  position: absolute;
  bottom: 0;
  font-size: 30px;
}

#sidebar {
  position: fixed;
  left: 0;
  height: 100%;
  width: 16%;
  z-index: 1000;
  text-align: center;
  background-color: white;
}

.page-title {
  text-align: center;
  color: grey;
}

.project-num {
  font-style: italic;
  font-size: 1em;
  color: grey;
}

.left-column {
  margin-left: 16%;
}

.right-column {
  height: 100%;
}

.project-intro {
  position: relative;
  top: 20%;
  text-align: center;
}

#togetherjs {
  background-size: cover;
  background-image: url('/img/togetherjs.jpg');
}

#edubyme {
  background-size: cover;
  background-image: url('/img/edubyme.png');
}

#instantmusic {
  background-size: cover;
  background-position: right;
  background-image: url('/img/instantmusic.png');
}

.bigger {
  font-size: 1.2em;
}

.fam-background {
  background-size: cover;
  background-image: url('/img/side-fam.jpg');
}

/*.content-wrapper {
  height: calc(100% - 83px);
}*/

.content-wrapper {
  height: 100%;
}

.col-md-6 {
  height: 100%;
}

.progress {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  background: blue;
}

.nopadding {
  padding: 0 !important;
}

.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

@media(min-width:1200px) {
  #introduction.main {
    height: 100%;
  }

  /*

  .content-wrapper {
    height: calc(100% - 133px);
  }

  .page-title {
    text-align: center;
    height: 100px;
    font-size: 50px !important;
    color: grey;
  }

  .col-md-6 {
    width: 40% !important;
  }

  .col-md-8 {
    width: 60% !important;
  }

  .col-md-4 {
    width: 20% !important;
  } */

}