html, body {
  height: 100%;
  min-height: 100%;
}

.full, .main {
  height: 100%;
}

.navbar-default {
  padding-right: 15px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

#menu-show-button {
  position: fixed;
  top: 50%;
  left: 10px;
  width: 20px;
  height: 20px;
  z-index: 1000;
  font-size: 20px;
}

.menu-hide-button {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  z-index: 1000;
}

.navbar-default .navbar-nav > li > a {
  font-size: 12px;
}

.wrapper {
  width: 100%;
  text-align: center;
}

.view-projects {
  position: relative;
  top: 50px;
  padding: 10px;
  border: 4px solid grey;
  margin-left: 10px;
}

.projects-content-wrapper {
  background-c
}

.homepage {
  height: 100%;
  background-color: #3498DB;
}

.self-marketing {
  display: table;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  color: white;
}

.self-marketing .jumbo-text {
  color: white;
}

.smile-icon {
  display: none;
}

.angle-down-wrapper {
  text-align: center;
}

#goto-second {
  position: absolute;
  bottom: 0;
  font-size: 30px;
}

.sidebar {
  display: none;
  position: fixed;
  left: 0;
  height: 100%;
  /*width: 16%;*/
  width: 250px;
  z-index: 1000;
  text-align: center;
  background-color: white;
  font-size: 20px;
  box-shadow: 1px 2px 6px 0 rgba(0,0,0,.25);
}

.sidebar.mobile {
  width: 150px;
}

.page-title {
  text-align: center;
  color: grey;
}

.project-num {
  font-style: italic;
  font-size: 24px;
  color: grey;
}

.project-role {
  color: grey;
}

.left-column {
  margin-left: 270px;
}

.right-column {
  height: 100%;
}

.project-intro {
  position: relative;
  top: 20%;
  text-align: center;
}

#introduction {
  background-size: cover;
}

#togetherjs {
  background-size: cover;
  background-image: url('/img/togetherjs.jpg');
}

#edubyme {
  background-size: cover;
  background-image: url('/img/edubyme.png');
}

#instantmusic {
  background-size: cover;
  background-position: right;
  background-image: url('/img/instantmusic.png');
}

.bigger {
  font-size: 1.2em;
}

.fam-background {
  background-size: cover;
  background-image: url('/img/side-fam.jpg');
}

/*.content-wrapper {
  height: calc(100% - 83px);
}*/

.content-wrapper {
  height: 100%;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.jumbo-text {
  font-weight: bold;
  font-size: 100px;
}

.small-jumbo-text {
  margin-top: -30px;
  font-size: 25px;
}

.col-md-6, .col-md-8, .col-md-12 {
  height: 100%;
}

.col-sm-6, .col-sm-8, .col-sm-12 {
  height: 100%;
}

.progress {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  background: blue;
}

.nospace {
  padding: 0 !important;
  margin: 0 !important;
}

.project-intro-container {
  font-size: 80px;
  height: 100%;
}

.project-intro-inner {
  margin-top: 20px;
}

.project-explain {
  padding-left: 5px;
  padding-right: 5px;
}



@media(min-width:1200px) {
  #introduction.main {
    height: 100%;
  }

  /*

  .content-wrapper {
    height: calc(100% - 133px);
  }

  .page-title {
    text-align: center;
    height: 100px;
    font-size: 50px !important;
    color: grey;
  }

  .col-md-6 {
    width: 40% !important;
  }

  .col-md-8 {
    width: 60% !important;
  }

  .col-md-4 {
    width: 20% !important;
  } */

}

#description {
  background-color: white;
}

.blog-post {
  margin-bottom: 20px;
}

.blog-post-content.mobile {
  padding-left: 20px;
}

.post-divider {
  padding-top: 10px;
  border-bottom: 1px dashed #BDC3C7;
}

.btn-blog {
  color: white;
  background-color: #E67E22;
}

.post-extras {
  font-color: #95a5a6;
  font-size: .9em;
}

.post-content {
  margin-top: 20px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
}

.post img {
  width: 100%;
}

.ending-post-smile {
  text-align: center;
}

ul, li {
  list-style-type: none;
}

ul.sidebar-link-group {
  padding: 0;
}

li.sidebar-link {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 25px;
  color: white;
}

li.sidebar-link.about {
  background-color: #E74C3C; 
}

li.sidebar-link.projects {
  background-color: #F1C40F;
}

li.sidebar-link.blog {
  background-color: #E67E22;
}

.center-column {
  margin: 0 auto;  
}

/* experiment */

a {
  color: #4E6378 !important;
}

a:hover {
  color: #22313F !important;
}

a.btn {
  color: white !important;
}

#about {
  height: 100%;
}

.about-content{
  margin-top: 20px;
}

.mobile .about-content {
  padding-left: 20px;
  padding-right: 20px;
}

.mobile .blog-content {
  padding-left: 20px;
}

.blog-content {
  margin-top: 20px;
}

.about-contact-links {
  margin-top: 20px;
}

.about-contact-links.mobile {
  font-size: 12px;
}

.about-contact-link {
  font-size: 1.5em;
  padding-right: 20px;
}

.show-scroll-icon {
  position: absolute;
  text-align: center;
  font-size: 30px;
  bottom: 10px;
  left: 0;
  right: 0;
}

/* float */

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 1.5s; 
  -webkit-animation-duration: 1.5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);  
  }
  50% {
    transform: translateY(8%);  
  } 
  100% {
    transform: translateY(0%);
  }     
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);  
  }
  50% {
    -webkit-transform: translateY(8%);  
  } 
  100% {
    -webkit-transform: translateY(0%);
  }     
}

/* responsive */
@media (max-width: 768px) {
  /* Hide desktop elements for mobile devices */
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inherit !important;
  }

  .sidebar {
    width: 150px;
  }
}
@media only screen and (min-width: 769px) {
  /* Hide mobile elements for mobile devices */
  .desktop {
    display: inherit !important;
  }
  .mobile {
    display: none !important;
  }
}
