---
layout: default
title: Howon Song
---

{% include sidebar.html %}

<div id="blog">
  <div class="row full">
    <div class="content-wrapper">
      <div class="col-md-8 left-column">
        <h1>Blog</h1>
        {% for post in site.posts %}
          <div class="blog-post">
            <a href="{{ post.url }}"><div class='post-title'>{{ post.title }}</div></a>
            <div class="post-extras">About
              <strong> 
              {% for tag in post.categories %}
                {% if forloop.last %}
                  #{{ tag }}
                {% else %}
                  #{{ tag }},
                {% endif %}
              {% endfor %}
              </strong>
              on <em>{{ post.date | date_to_string }}</em></div>
            <div class="post-content">
              {{ post.excerpt }}  
              <a href="{{ post.url }}"><div class="btn btn-blog btn-sm">Read more</div></a>
            </div>
          <div class="ending-post-smile"><i class="fa fa-smile-o"></i></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
  $('#sidebar').show();
</script>

  